 
  body {
    background-color: beige
  
  }
  
  .container {
    display: inline;
    justify-content: center;
    text-align: center;
  }
  
  table,
  th,
  td {
    border: 1px solid;
    text-align: center;
     margin: 12px;
    padding: 4px;
  
  }
  
  table {
    border-collapse: collapse;
  }
  
  tbody {
    background-color: #fff;
  }
  
  .twrapper {
    background-color:rgb(218, 151, 28);
  }

  .TableData{
    margin-left: 15rem;;
  }